<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
		<title>404 Disaster Not Found</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'Assets/Homepage/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="homepage.html">404 Disaster Not Found</a>
				<!-- <nav>
					<a href="#menu">Menu</a>
				</nav> -->
			</header>

		<!-- Nav -->
			<!-- <nav id="menu">
				<ul class="links">
					<li><a href="homepage.html">Home</a></li>
					<li><a href="elements.html">Elements</a></li>
					<li><a href="generic.html">Generic</a></li>
				</ul>
			</nav> -->

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>404 Disaster Not Found</h1>
					<p>A disaster-victim centric technological approach to disaster prediction, prevention <br />and management. Find out about <thead></thead>
					upcoming disasters in your locality and the world.
					<br />
					Help or reach out for help if you are in a disaster hit area.
					</p>
				</div>
				<!-- {# <video autoplay loop muted playsinline src="Images/Homepage/banner.mp4"></video> #} -->
				<source src="{% static 'Images/Homepage/banner.mp4' %}" type='video/mp4'></source>
			</section>

		<!-- Highlights -->
		<section class="wrapper">
			<div class="inner">
				<header class="special">
					<h2>Mission</h2>
					<p>In a world where climate change and global warming are becoming more and more commonplace, we aim to provide a means to  coordinate and allocate resources for effective disaster management. We aim to utilize technology as a means to improve the quality of lives of people living in vulnerable areas.</p>
				</header>
				<div class="highlights">
					<section>
						<div class="content">
							<header>
								<a href="{% url 'RegisterPage' %}" class="icon fa-vcard-o"><span class="label">Icon</span></a>
								<h3>REGISTER AS A VOLUNTEER</h3>
							</header>
							<p>Lend a helping hand to those who are in need. Volunteers provide a greatly needed human touch to the operation.</p>
							<a href="{% url 'RegisterPage' %}" class="button primary">Register Now!</a>
						</div>
					</section>
					<section>
						<div class="content">
							<header>
								<a href="{% url 'RequestPage' %}" class="icon fa-life-ring"><span class="label">Icon</span></a>
								<h3>REQUEST FOR HELP</h3>
							</header>
							<p>Need help? Look no further. Tell us where you are and in what type of trouble you are in and you'll be rescued in no time.</p>
							<a href="{% url 'RequestPage' %}" class="button primary">SOS!</a>
						</div>
					</section>
					<section>
						<div class="content">
							<header>
								<a href="{% url 'ContributePage' %}" class="icon fa-money"><span class="label">Icon</span></a>
								<h3>TO CONTRIBUTE</h3>
							</header>
							<p>Not able to physically help? No problem! Your small contribution goes a long way in providing relief to disaster victims across the country.</p>
							<a href="{% url 'ContributePage' %}" class="button primary">Contribute Now!</a>
						</div>
					</section>

					<section>
						<div class="content">
							<header>
								<a href="{% url 'getRegister' %}" class="icon fa-list"><span class="label">Icon</span></a>
								<h3>REGISTERED VOLUNTEERS</h3>
							</header>
							<p>The list of currently registered volunteers so people can distribute themselves among the different rescue operation tasks.</p>
							<a href="{% url 'getRegister' %}" class="button primary">Help out!</a>
						</div>
					</section>
					<section>
						<div class="content">
							<header>
								<a href="{% url 'getRequest' %}" class="icon fa-hand-paper-o"><span class="label">Icon</span></a>
								<h3>PENDING REQUESTS</h3>
							</header>
							<p>Want to help but are overwelmed by large bureaucracy? Have a look at the people in trouble and see how you can directly help individuals.</p>
							<a href="{% url 'getRequest' %}" class="button primary">See Requests!</a>
						</div>
					</section>
					<section>
						<div class="content">
							<header>
								<a href="{% url 'ContactPage' %}" class="icon fa-phone"><span class="label">Icon</span></a>
								<h3>CONTACT INFO</h3>
							</header>
							<p>Have a look at the different efforts of the Government of India and NGOs to save people's lives and minimize the impact of natural disasters.</p>
							<a href="{% url 'ContactPage' %}" class="button primary">Contact Us</a>
						</div>
					</section>
				</div>
			</div>
		</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>The REAL Heroes During Natural Disasters</h2>
					<p>A shout out to the all the army personnel, officers and volunteers who put their lives at risk to save victims of natural disasters! Jai Hind!</p>
				</div>
			</section>

		<!-- Testimonials -->
		<section class="wrapper">
			<div class="inner">
				<header class="special">
					<h2>Message from the Founders</h2>
					<p>Sitting thousands of miles away from a natural disaster can induce a feeling of helplesness. This project serves as a stepping stone in our dream to use technology to improve the lives of vulenerable citizens. </p>
				</header>
				<div class="testimonials">
					<section>
						<div class="content">
							<blockquote>
								<p>I always wanted to be a superhero in my childhood and now I have the chance to save so many lives. Checkbox ticked. </p>
							</blockquote>
							<div class="author">
								<div class="image">
									<img src="{% static 'Images/Homepage/pic01.jpg' %}" alt="" />
								</div>
								<p class="credit">- <strong>Lavish Gulati</strong> Founder<span></span></p>
							</div>
						</div>
					</section>
					<section>
						<div class="content">
							<blockquote>
								<p>Natural calamities were once seen as the wrath of God. Today, science can allow us to better understand and manage them if properly utilised. </p>
							</blockquote>
							<div class="author">
								<div class="image">
									<img src="{% static 'Images/Homepage/pic03.jpg' %}" alt="" />
								</div>
								<p class="credit">- <strong>Mayank Baranwal</strong> Founder<span></span></p>
							</div>
						</div>
					</section>
					<section>
						<div class="content">
							<blockquote>
								<p>We cannot stop natural disasters but we can arm ourselves with knowledge: so many lives wouldn't have to be lost if there was enough disaster preparedness.</p>
							</blockquote>
							<div class="author">
								<div class="image">
									<img src="{% static 'Images/Homepage/pic02.jpg' %}" alt="" />
								</div>
								<p class="credit">- <strong>Chirag Gupta</strong> Founder<span></span></p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="content">
					<section>
						<h3>About the website</h3>
						<p>The recent Kerala and Uttarakhand floods and their devastating impact on society make natural disasters appear as 	unstoppable beasts. While they may be more deadly than before, in most cases lives are lost due to lack of contigency plans. By using modern day technology, natural disasters can be tamed and their footprint minimized. This website is a stepping stone in the direction of assembling a coordinated response and stopping natural disasters in their tracks.
						</p>
					</section>
					<!-- <section>
						<h4>Sem turpis amet semper</h4>
						<ul class="alt">
							<li><a href="https://ndma.gov.in/">National Disaster Management Authority</a></li>
							<li><a href="http://www.indianredcross.org/">Indian Red Cross Society.</a></li>
							<li><a href="#">Felis enim feugiat viverra.</a></li>
							<li><a href="#">Dolor pulvinar magna etiam.</a></li>
						</ul>
					</section> -->
					<section>
						<h4>Follow us on</h4>
						<ul class="plain">
							<li><a href="https://github.com/LavishGulati/Microsoft-Codefundo-2018"><i class="icon fa-github">&nbsp;</i>Project Documentation</a></li>
							<li><a href="https://www.facebook.com/lavish.gulati"><i class="icon fa-facebook">&nbsp;</i>Lavish Gulati</a></li>
							<li><a href="https://www.linkedin.com/in/mayank--baranwal"><i class="icon fa-linkedin-square">&nbsp;</i>Mayank Baranwal</a></li>
							<li><a href="https://www.instagram.com/cgupta3131"><i class="icon fa-instagram">&nbsp;</i>Chirag Gupta</a></li>
						</ul>
					</section>
				</div>
				<div class="copyright">
					&copy; 404 Disaster Not Found. All rights reserved.
				</div>
			</div>
		</footer>


		<!-- Scripts -->
			<script src="{% static 'Assets/Homepage/js/jquery.min.js' %}"></script>
			<script src="{% static 'Assets/Homepage/js/browser.min.js' %}"></script>
			<script src="{% static 'Assets/Homepage/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'Assets/Homepage/js/util.js' %}"></script>
			<script src="{% static 'Assets/Homepage/js/main.js' %}"></script>

	</body>
</html>
