<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
		<title>Register As A Volunteer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'Assets/RegAsVol/css/main.css' %}" />
	</head>
	<body>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<header class="special">
							<h2>Register As A Volunteer</h2>
							<p>vehicula urna sed justo bibendum</p>
						</header>
						<div class="content">
							<p>Curabitur eget semper ante. Morbi eleifend ultricies est, a blandit diam vehicula vel. Vestibulum porttitor nisi quis viverra hendrerit. Suspendisse vel volutpat nibh, vel elementum lacus. Maecenas commodo pulvinar dui, at cursus metus imperdiet vel. Vestibulum et efficitur urna. Duis velit nulla, interdum sed felis sit amet, facilisis auctor nunc. Cras luctus urna at risus feugiat scelerisque nec sed diam. </p>

							<form method="post" action="#">
							{% csrf_token %}
								<div class="row uniform">
									<div class="6u 12u$(xsmall)">
										<input type="text" name="name" id="name" value="" placeholder="Name" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="tel" name="contact" id="contact" value="" placeholder="Contact" />
									</div>
									<!-- Break -->

									<div class="12u$">
										<input type="text" name="profession" id="profession" value="" placeholder="Profession" />
									</div>


									

									<div class="6u$ 12u$(xsmall)">
										<input type="text" name="location" id="location" placeholder="Location" />
										<br>
									</div>

									<!-- Break -->
									<div class="12u$">
										<textarea name="message" id="message" placeholder="How can you help?" rows="6"></textarea>
										<br>
									</div>
<!--
									<div class="6u 12u$(small)">
										<input type="checkbox" id="copy" name="copy">
										<label for="copy">Email me a copy of this message</label>
									</div>

									<div class="6u$ 12u$(small)">
										<input type="checkbox" id="human" name="human" checked>
										<label for="human">I am a human and not a robot</label>
										<br>
									</div> -->
									<!-- Break -->
									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Submit" class="alt"/></li>
											<li><input type="reset" value="Reset" class="alt"/></li>
										</ul>
									</div>
								</div>
							</form>

						</div>

					</section>

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>Vestibulum Convallis</h2>
							<p>vehicula urna sed justo bibendum</p>
						</header>
						<div class="content">
							<div class="gallery">
								<div>
									<div class="l1">
										<a href="{% static 'Images/RegAsVol/pic03.jpg' %}"><img src="{% static 'Images/RegAsVol/pic03.jpg' %}" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image right r1">
										<a href="{% static 'Images/RegAsVol/pic01.jpg' %}"><img src="{% static 'Images/RegAsVol/pic01.jpg' %}" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image left l2">
										<a href="{% static 'Images/RegAsVol/pic04.jpg' %}"><img src="{% static 'Images/RegAsVol/pic04.jpg' %}" alt="" /></a>
									</div>
								</div>
								<div>
									<div class="image right r2">
										<a href="{% static 'Images/RegAsVol/pic05.jpg' %}"><img src="{% static 'Images/RegAsVol/pic05.jpg' %}" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>

			</footer>

		<!-- Scripts -->
			<script src="{% static 'Assets/RegAsVol/js/jquery.min.js' %}"></script>
			<script src="{% static 'Assets/RegAsVol/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'Assets/RegAsVol/js/skel.min.js' %}"></script>
			<script src="{% static 'Assets/RegAsVol/js/util.js' %}"></script>
			<script src="{% static 'Assets/RegAsVol/js/main.js' %}"></script>

	</body>
</html>
