<!DOCTYPE HTML>
<!--
Caminar by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	{% load staticfiles %}
	<title>Request for Help</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'Assets/ReqForHelp/css/main.css' %}" />
</head>
<body>

	<!-- Main -->
	<section id="main">
		<div class="inner">

			<!-- One -->
			<section id="one" class="wrapper style1">

				<header class="special">
					<h2>Request for Help</h2>
					<p><strong>Your one-stop guide to availing rescue services</strong></p>
				</header>
				<div class="content">
					<p><strong>Stuck in the middle of a catastrophe and unable to raise your voice and be heard? Don't worry, we've got you covered. Just fill out this form and an official/volunteer will contact you vey soon and provide you with all the .</strong>	</p>

					<form method="post" action="#">
					{% csrf_token %}
						<div class="row uniform">



							<div class="12u$">
								<p>1) Enter your contact details</p>
							</div>
							<div class="6u 12u$(xsmall)">
								<input type="text" name="name" id="name" value="" placeholder="Name" required/>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<input type="tel" name="contact" id="contact" value="" placeholder="Contact No." required/>
							</div>
							<div class="12u$">
								<textarea name="message" id="message" required placeholder="Current Location/Address" rows="3"></textarea>
							</div>
							<!-- Break -->

							<div class="12u$">
									<div class="row question_title">
										<p>2) As a result of this disaster,in what categories do you need assistance?(Employment, Financial, Food, Housing, Legal, Medical, Others(Specify)</p>
									<div class="12u$">
								<textarea name="message" id="message" rows="2"></textarea>
							</div>
							<br></br>
							<div class="row question_title">
									<p>3) Any special assistance needed?<br></br></p>
									</div>

							<div class="12u$">
								<textarea name="message" id="message" rows="2"></textarea>
							</div>

							<br></br>
							<div class="12u$">
									<div class="row question_title">
										<p>4) What describes your housing/living situation prior to the disaster?(Rent, Own or Urban)<br></br></p>
									</div>

							<div class="12u$">
								<textarea name="message" id="message" rows="2"></textarea>
							</div>
							</div>
							<br></br>
							<div class="12u$">
									<div class="row question_title">
										<p>5) Current priority of assistance required?(Very High, High, Medium or Low)<br></br></p>
									</div>
								<div class="12u$">
								<textarea name="message" id="message" rows="2"></textarea>
							</div>
							<br></br>
							</div>




								<!-- Break -->

								<!-- <div class="6u 12u$(small)">
									<input type="checkbox" id="copy" name="copy">
									<label for="copy">Email me a copy of this message</label>
								</div> -->

								<!-- Break -->
								<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="Submit" class="alt"/></li>
										<li><input type="reset" value="Reset" class="alt"/></li>
									</ul>
								</div>
							</div>
						</form>

					</div>

				</section>

				<!-- Two -->
				<section id="two" class="wrapper style2">
					<header>
						<h2>Relief efforts across India</h2>
						<!-- <p>vehicula urna sed justo bibendum</p> -->
					</header>
					<div class="content">
						<div class="gallery">
							<div>
								<div class="image fit flush">
									<a href="{% static 'Images/ReqForHelp/pic03.jpg' %}"><img src="{% static 'Images/ReqForHelp/pic03.jpg' %}" alt="" /></a>
								</div>
							</div>
							<div>
								<div class="image fit flush">
									<a href="{% static 'Images/ReqForHelp/pic01.jpg' %}"><img src="{% static 'Images/ReqForHelp/pic01.jpg' %}" alt="" /></a>
								</div>
							</div>
							<div>
								<div class="image fit flush">
									<a href="{% static 'Images/ReqForHelp/pic04.jpg' %}"><img src="{% static 'Images/ReqForHelp/pic04.jpg' %}" alt="" /></a>
								</div>
							</div>
							<div>
								<div class="image fit flush">
									<a href="{% static 'Images/ReqForHelp/pic05.jpg' %}"><img src="{% static 'Images/ReqForHelp/pic05.jpg' %}" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			
			<div class="copyright">
				&copy; 404 Disaster Not Found. All rights reserved. 
			</div>
		</footer>

		<!-- Scripts -->
		<script src="{% static 'Assets/ReqForHelp/js/jquery.min.js' %}"></script>
		<script src="{% static 'Assets/ReqForHelp/js/jquery.poptrox.min.js' %}"></script>
		<script src="{% static 'Assets/ReqForHelp/js/skel.min.js' %}"></script>
		<script src="{% static 'Assets/ReqForHelp/js/util.js' %}"></script>
		<script src="{% static 'Assets/ReqForHelp/js/main.js' %}"></script>

	</body>
	</html>
