<!DOCTYPE HTML>

<html>
	<head>
		{% load staticfiles %}
		<title>To Contribute</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'Assets/ToContri/css/main.css' %}" />
	</head>
	<body>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- Two -->
					<section id="two" class="wrapper style2">
						<header>
							<h2>To Contribute</h2>
							<h5>A look at the different charities and organizations committed to providing relief to natural calamity relief victims.</h5>
						</header>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><img src="{% static 'Images/ToContri/pic06.jpg' %}" alt="" /></div>
							<div class="inner">
								<h3>Prime Minister's National Relief Fund</h3>
								<p>The Prime Minister's National Relief Fund (PMNRF) was established with public contributions to assist displaced persons from Pakistan. The resources of the PMNRF are now utilized primarily to render immediate relief to families of those killed in natural calamities like floods, cyclones and earthquakes, etc. and to the victims of the major accidents and riots. The fund consists entirely of public contributions and does not get any budgetary support.
								<br>
								<a href="https://www.pmnrf.gov.in/payform.php">Click here to contribute!</a></p>
							</div>
						</div>
						<div class="spotlight alt">
							<div class="image flush"><img src="{% static 'Images/ToContri/pic07.jpg' %}" alt="" /></div>
							<div  class="inner">
								<h3>Rapid Response</h3>
								<p>Rapid Response is a registered non-profit organisation committed to provide disaster response and preparedness services to the vulnerable communities.
								Rapid Response responds immediately to families affected by natural disasters with food, water and essential items and also works towards rehabilitation of the affected families.
								In non-crisis situations, it actively engages with vulnerable communities and trains them to cope with emergencies.
								<br><a href="https://www.rapidresponse.org.in/donate.php">Click here to contribute!</a></p>
							</div>
						</div>
						<div class="spotlight">
							<div class="image flush"><img src="{% static 'Images/ToContri/pic08.jpg' %}" alt="" /></div>
							<div class="inner">
								<h3>Indian Red Cross Society</h3>
								<p>The Indian Red Cross is a voluntary humanitarian organization having a network of over 700 branches throughout the country, providing relief in times of disasters/emergencies and promotes health & care of the vulnerable people and communities. It is a leading member of the largest independent humanitarian organization in the world, the International Red Cross & Red Crescent Movement.
								<br>
								<a href="http://www.indianredcross.org/donation.htm">Click here to contribute!</a></p>
							</div>
						</div>

						<!-- <div class="spot">
							<div class="inner2">
									<h3>More to be added..</h3>
							</div>
						</div> -->
					</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; 404 Disaster Not Found. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
